<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-label="Slide 1"
        aria-current="true"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class=""
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class=""
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg
          aria-hidden="true"
          class="bd-placeholder-img"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Example title.</font
                ></font
              >
            </h1>
            <p class="opacity-75">
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Statistical studies, according to the American Language
                  Association, indicate that interest in Arabic increased by
                  126% in the United States alone between 2002 and 2009.</font
                ></font
              >
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"
                    >Register today</font
                  ></font
                ></a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          aria-hidden="true"
          class="bd-placeholder-img"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Another example title.</font
                ></font
              >
            </h1>
            <p>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >According to the British Council, teaching English in Britain
                  contributes more than £2 billion annually to the UK economy
                  and has created more than 26,000 jobs.</font
                ></font
              >
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">learn more</font></font
                ></a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          aria-hidden="true"
          class="bd-placeholder-img"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >One more for good measure.</font
                ></font
              >
            </h1>
            <p>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Statistics on the size of language investment abroad vary
                  from year to year, but British Council Executive Director
                  Eddie Byers believes that investment in English teaching
                  abroad is not only financial but also political.</font
                ></font
              >
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"
                    >Browse the gallery</font
                  ></font
                ></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">the previous</font></font
        ></span
      >
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">the next</font></font
        ></span
      >
    </button>
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg
          aria-label="Placeholder"
          class="bd-placeholder-img rounded-circle"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="140"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <h2 class="fw-normal">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">address</font></font
          >
        </h2>
        <p>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Always remember that a computer does not possess intelligence,
              but rather acquires artificial intelligence through three main
              functional elements: the ability to analyze, the ability to
              compose, and logical reasoning.</font
            ></font
          >
        </p>
        <p>
          <a class="btn btn-secondary" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">View details</font></font
            ></a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg
          aria-label="Placeholder"
          class="bd-placeholder-img rounded-circle"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="140"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <h2 class="fw-normal">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Another address</font></font
          >
        </h2>
        <p>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >If we were to use a smart computer to process the Arabic
              language, we would face a significant challenge, especially since
              our language is characterized by the coherence and
              interconnectedness of its systems. However, artificial
              intelligence enables us to obtain four types of processing:
              phonetic processing, morphological processing, syntactic
              processing, and semantic processing.</font
            ></font
          >
        </p>
        <p>
          <a class="btn btn-secondary" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">View details</font></font
            ></a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg
          aria-label="Placeholder"
          class="bd-placeholder-img rounded-circle"
          height="140"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="140"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect
            width="100%"
            height="100%"
            fill="var(--bs-secondary-color)"
          ></rect>
        </svg>
        <h2 class="fw-normal">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Third address to confirm the information</font
            ></font
          >
        </h2>
        <p>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Thanks to artificial intelligence research and technologies, we
              have been able to move from the physical to the logical. This
              transition has had a positive impact on how people interact with
              their living languages, which means it should have a positive
              impact on how we interact with our Arabic language.</font
            ></font
          >
        </p>
        <p>
          <a class="btn btn-secondary" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">View details</font></font
            ></a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >The first distinctive title.
            </font></font
          ><span class="text-body-secondary"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >It will blow your mind.</font
              ></font
            ></span
          >
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >The human face is a highly complex and distinctive part of the
              body. In fact, it is one of the most complex signaling systems
              available to us. It includes more than 40 structurally and
              functionally independent muscles, each of which can be operated
              independently of the others. It constitutes one of the most
              powerful indicators of emotion.</font
            ></font
          >
        </p>
      </div>
      <div class="col-md-5">
        <svg
          aria-label="Placeholder: 500x500"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
          <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
            500x500
          </text>
        </svg>
      </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Oh yeah, that's good.
            </font></font
          ><span class="text-body-secondary"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >See for yourself.</font
              ></font
            ></span
          >
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >When we laugh or cry, we display our emotions, allowing others to
              glimpse into our minds as they “read” our faces based on changes
              in major facial components, such as the eyes, eyebrows, eyelids,
              nose, and lips.</font
            ></font
          >
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg
          aria-label="Placeholder: 500x500"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
          <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
            500x500
          </text>
        </svg>
      </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Finally, this. </font></font
          ><span class="text-body-secondary"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">Checkmate.</font></font
            ></span
          >
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >All the muscles in our bodies are supported by nerves that
              connect from all over the body to the spinal cord and brain. This
              neural communication is bidirectional, meaning that the nerve
              causes muscle contractions based on brain signals and
              simultaneously sends information about the muscle's condition to
              the brain.</font
            ></font
          >
        </p>
      </div>
      <div class="col-md-5">
        <svg
          aria-label="Placeholder: 500x500"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          role="img"
          width="500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
          <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
            500x500
          </text>
        </svg>
      </div>
    </div>
    <hr class="featurette-divider" />
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end">
      <a href="#"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">Back to top</font></font
        ></a
      >
    </p>
    <p>
      <font style="vertical-align: inherit"
        ><font style="vertical-align: inherit"
          >© 2017–2025 Company, Inc. ·
        </font></font
      ><a href="#"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">Privacy Policy</font></font
        ></a
      ><font style="vertical-align: inherit"
        ><font style="vertical-align: inherit"> · </font></font
      ><a href="#"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">Terms of Use</font></font
        ></a
      >
    </p>
  </footer>
</main>
